@import "tailwindcss";

@font-face {
  font-family: "Inter Regular";
  src: url("./fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter Regular";
  font-optical-sizing: auto;
}

@theme {
  --breakpoint-4xl: 2500px;
  --breakpoint-3xl: 1920px;
}
